<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{email.booking.title}">Kiwianatours Booking</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style type="text/css">
body {
   background: #fafafa;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   color: #333;
}
</style>
</head>
<body background=" #fafafa">
	<p th:text="#{email.booking.greeting(${customer.firstName})}">Dear ,</p>
	<p th:text="#{email.booking.text1}">Thank you for booking with us.
		Please find your booking details below:</p>
	<table width="640px" border="1">
		<tr>
			<th>Booking Date</th>
			<th>Tour</th>
			<th>Departure Date</th>
			<th>Retrun Date</th>
			<th>Amount</th>
		</tr>
		<tr>
			<td th:text="${booking.createdDate}"></td>
			<td th:text="${tourSchedule.tour.name}"></td>
			<td th:text="${tourSchedule.departureDate}"></td>
			<td th:text="${tourSchedule.returnDate}"></td>
			<td th:text="${booking.amount}"></td>
		</tr>
	</table>
	<p>
		<span th:text="#{email.booking.text2}">Regards, </span> <br /> <em
			th:text="#{email.signature}">Kiwianatours.</em>
	</p>
</body>
</html>