<div>
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<ol class="breadcrumb">
				<li class="active">Tour</li>
			</ol>
			<h1>Tour</h1>
			<div class="navbar">
				<ul class="nav navbar-nav">
					<li><a href="" data-ng-click="clear()"
						data-target="#saveTourModal" data-toggle="modal">&#xA0;<span
							class="glyphicon glyphicon-plus"></span> Add Tour
					</a></li>
				</ul>
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<label class="navbarText col-sm-2">Filter:</label>
						<div class="col-sm-10">
							<input type="text" data-ng-model="searchText"
								data-ng-change="searchTextChanged();"
								class="novalidate form-control" />
						</div>
					</div>
				</form>
			</div>
			<div class="alert alert-success" data-ng-show="updateStatus">
				<span class="glyphicon glyphicon-thumbs-up icon-white"></span>&nbsp;&nbsp;{{updateStatus}}
			</div>

			<div class="alert alert-danger" data-ng-show="errorMessage">
				<span class="glyphicon glyphicon-thumbs-down icon-white"></span>&nbsp;&nbsp;Error:
				{{ errorMessage }}
			</div>
			<div data-ng-show="tours.length == 0">
				<div class="col-md-12 text-center">
					<h4>No Tours found</h4>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="saveTourModal" tabindex="-1" role="dialog"
		aria-labelledby="myTourLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="form" role="form" novalidate
					class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
					ng-submit="create()">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" ng-click="clear()">&times;</button>
						<h4 class="modal-title" id="myTourLabel">
							<span class="glyphicon glyphicon-edit"></span> Create or edit a
							Tour
						</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>ID</label> <input type="text" class="form-control"
								name="id" ng-model="tour.id" readonly>
						</div>

						<div class="form-group">
							<label>Name</label> <input type="text" class="form-control"
								name="tour" ng-model="tour.name" placeholder="Tour Name"
								ng-minlength=1 ng-maxlength=50 required>
							<div class="error"
								ng-show="form.tour.$dirty && form.tour.$invalid">
								<small class="error" ng-show="form.tour.$error.required">
									Tour Name is required </small> <small class="error"
									ng-show="form.tour.$error.minlength"> Tour Name is
									required to be at least 1 character </small> <small class="error"
									ng-show="form.tour.$error.maxlength"> Tour Name cannot
									be longer than 50 characters </small>
							</div>
						</div>
						<div class="form-group">
							<div class="radio">
								<label> <input type="radio" name="optionsRadios"
									ng-model="tour.activated" ng-required="true" value="true"
									checked> Active Label
								</label>
							</div>
							<div class="radio">
								<label> <input type="radio" name="optionsRadios"
									ng-model="tour.activated" ng-required="true" value="false">
									Not Active Label
								</label>
							</div>
						</div>
						<div class="form-group">
							<label>Short Description</label>
							<textarea name="shortDescription" class="form-control"
								ng-model="tour.shortDescription"
								placeholder="Short Description 200 Words" rows="3"></textarea>
						</div>
						<div class="form-group">
							<label>Long Description</label>
							<textarea name="description" class="form-control"
								ng-model="tour.description" placeholder="Long Description"
								rows="8"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">
							<span class="glyphicon glyphicon-ban-circle"></span> Cancel
						</button>
						<button type="submit" ng-disabled="form.$invalid"
							class="btn btn-primary">
							<span class="glyphicon glyphicon-save"></span> Save
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="table-responsive">

				<table class="table table-striped" data-ng-hide="tours.length == 0">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Active statue</th>
							<th></th>
							<th>Photo</th>
						</tr>
					</thead>
					<tbody>
						<tr
							dir-paginate="tour in tours | filter: searchText | itemsPerPage: 25">
							<td>{{tour.id}}</td>
							<td>{{tour.name}}</td>
							<td>{{tour.activated}}</td>
							<td>
								<button type="submit" ng-click="update(tour.id)" class="btn">
									<span class="glyphicon glyphicon-pencil"></span> Edit
								</button>
								<button type="submit" ng-click="delete(tour.id)"
									class="btn btn-danger">
									<span class="glyphicon glyphicon-remove-circle"></span> Delete
								</button>
							</td>
							<td>
								<button type="submit"
									ng-click="navigate('/tourphoto/upload/',tour.id)"
									class="btn btn-success">
									<span class="glyphicon glyphicon-open"></span> Upload
								</button>
								<button type="submit" ng-click="navigate('/tourphoto/',tour.id)"
									class="btn ">
									<span class="glyphicon glyphicon-eye-open"></span> View
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<dir-pagination-controls boundary-links="true"
				on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
		</div>
	</div>
</div>
