<form data-ng-submit="submit()" name="form">
	<table>
		<tr>
			<td>Name</td>
			<td><input type="text" data-ng-model="commitData.name" required></td>
		</tr>
		<tr>
			<td>Address</td>
			<td><input type="text" data-ng-model="commitData.address"
				required></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><input type="text" data-ng-model="commitData.email" required></td>
		</tr>
		<tr>
			<td>ContactNo</td>
			<td><input type="text" data-ng-model="commitData.contactNo"
				required></td>
		</tr>
		<tr>
			<td>UserName</td>
			<td><input type="text" data-ng-model="commitData.userName"
				required></td>
		</tr>
		<tr>
			<td>Password</td>
			<td><input type="text" data-ng-model="commitData.password"
				required></td>
		</tr>
		<tr>
			<td>Role</td>
			<td><select data-ng-model="commitData.role">
					<option value="" selected="selected">Please select</option>
					<option value="1">Administrator</option>
					<option value="2">User</option>
			</select></td>
		</tr>
		<tr>
			<td></td>
			<td><button data-ng-disable="form.$invalid">Submit</button>
		</tr>
		<tr>
			<td></td>
			<td>{{serverResponse}}
		</tr>
	</table>
</form>
