<form class="form-horizontal" data-ng-submit="submit()" name="agentForm">
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input type="text" id="name" data-ng-model="agent.name" required>
		</div>
	</div>
	<div class="form-group">
		<label for="address" class="col-sm-2 control-label">Address</label>
		<div class="col-sm-10">
			<input type="text" id="address" data-ng-model="agent.address" required>
		</div>
	</div>
	<div class="form-group">
		<label for="email" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
			<input type="text" id="email" data-ng-model="agent.email" required>
		</div>
	</div>
	<div class="form-group">
		<label for="contactNo" class="col-sm-2 control-label">ContactNo</label>
		<div class="col-sm-10">
			<input type="text" id="contactNo" data-ng-model="agent.contactNo" required>
		</div>
	</div>
	<div class="form-group">
		<label for="userName" class="col-sm-2 control-label">UserName</label>
		<div class="col-sm-10">
			<input type="text" id="userName" data-ng-model="agent.userName" required>
		</div>
	</div>
	<div class="form-group">
		<label for="password" class="col-sm-2 control-label">Password</label>
		<div class="col-sm-10">
			<input type="password" id="password" data-ng-model="agent.password" required>
		</div>
	</div>
	<div class="form-group">
		<label for="role" class="col-sm-2 control-label">Role</label>
		<div class="col-sm-10">
			<select data-ng-model="agent.role" required>
				<option value="" selected="selected">Please select</option>
				<option value="1">Administrator</option>
				<option value="2">User</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button data-ng-disable="form.$invalid" class="btn btn-primary">Submit</button>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<p class="text-success" data-ng-show="showMessage">{{successResponse}}</p>
			<p class="text-danger" data-ng-show="showMessage">{{errorResponse}}</p>
		</div>
	</div>
</form>

