<form class="form-horizontal" data-ng-submit="submit()"
	name="customerForm">
	<div class="form-group">
		<label for="firstName" class="col-sm-2 control-label">FirstName</label>
		<div class="col-sm-10">
			<input type="text" id="firstName" data-ng-model="customer.firstName"
				required>
		</div>
	</div>
	<div class="form-group">
		<label for="lastName" class="col-sm-2 control-label">LastName</label>
		<div class="col-sm-10">
			<input type="text" id="lastName" data-ng-model="customer.lastName"
				required>
		</div>
	</div>
	<div class="form-group">
		<label for="nickName" class="col-sm-2 control-label">NickName</label>
		<div class="col-sm-10">
			<input type="text" id="nickName" data-ng-model="customer.nickName"
				required>
		</div>
	</div>
	<div class="form-group">
		<label for="nationality" class="col-sm-2 control-label">Nationality</label>
		<div class="col-sm-10">
			<input type="text" id="nationality"
				data-ng-model="customer.nationality" required>
		</div>
	</div>
	<div class="form-group">
		<label for="birthDate" class="col-sm-2 control-label">Date Of
			Birth</label>
		<div class="col-sm-10">
			<input type="text" id="birthDate" data-ng-model="customer.birthDate"
				placeholder="yyyy-MM-dd" min="2013-01-01" max="2013-12-31" required>
		</div>
	</div>
	<div class="form-group">
		<label for="gender" class="col-sm-2 control-label">Gender</label>
		<div class="col-sm-10">
			<div class="radio">
				<label> <input type="radio" data-ng-model="customer.gender"
					value="Male"> Male
				</label>
			</div>
			<div class="radio">
				<label> <input type="radio" data-ng-model="customer.gender"
					value="Female"> Female
				</label>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="address" class="col-sm-2 control-label">Address</label>
		<div class="col-sm-10">
			<input type="text" id="address" data-ng-model="customer.address"
				required>
		</div>
	</div>
	<div class="form-group">
		<label for="email" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
			<input type="text" id="email" data-ng-model="customer.email" required>
		</div>
	</div>
	<div class="form-group">
		<label for="contactNo" class="col-sm-2 control-label">ContactNo</label>
		<div class="col-sm-10">
			<input type="text" id="contactNo" data-ng-model="customer.contactNo"
				required>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button data-ng-disable="form.$invalid" class="btn btn-primary">Submit</button>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<p class="text-success">{{successResponse}}</p>
			<p class="text-danger">{{errorResponse}}</p>
		</div>
	</div>
</form>
