<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Post Data</title>
<script src="lib/angular.js"></script>
<script src="lib/angular-resource.js"></script>
<script src="lib/angular-cookies.js"></script>
<script src="js/post-angular.js"></script>
</head>
<body data-ng-app="app">
	<h1>API Customer</h1>
	<div data-ng-controller="postController">
		<form data-ng-submit="submit()" name="form">
			<table>
				<tr>
					<td>First Name</td>
					<td><input type="text" data-ng-model="commitData.firstName" required></td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td><input type="text" data-ng-model="commitData.lastName" required></td>
				</tr>
				<!-- <tr>
					<td>NickName</td>
					<td><input type="text" data-ng-model="commitData.nickName" required></td>
				</tr>
				<tr>
					<td>Nationality</td>
					<td><input type="text" data-ng-model="commitData.nationality" required></td>
				</tr>
				<tr>
					<td>Date Of Birth</td>
					<td><input type="text" data-ng-model="commitData.dateOfBirth" required></td>
				</tr>
				<tr>
					<td>Gender</td>
					<td><input type="text" data-ng-model="commitData.gender" required></td>
				</tr>
				<tr>
					<td>Address</td>
					<td><input type="text" data-ng-model="commitData.address" required></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="text" data-ng-model="commitData.email" required></td>
				</tr>
				<tr>
					<td>ContactNo</td>
					<td><input type="text" data-ng-model="commitData.contactNo" required></td>
				</tr> -->
				<tr>
					<td></td>
					<td><button data-ng-disable="form.$invalid">Submit</button>
				</tr>
				<tr>
					<td></td>
					<td>{{serverResponse}}
				</tr>
			</table>
		</form>
	</div>
</body>
</html>