<div>
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<ol class="breadcrumb">
				<li ng-if="isAuthorized(userRoles.admin)"><a href="#/tour">Tour</a></li>
				<li ng-if="isAuthorized(userRoles.admin)"><a href="#/tour/schedule">Tour Schedule</a></li>
				<li class="active">Calendar</li>
			</ol>
			<h1>Calendar</h1>
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-md-12">
			<div  ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar"></div>
		</div>
	</div>
</div>

