<div>
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<h2 translate="sessions.title"
				translate-values="{username: '{{account.login}}'}">
				Active sessions for [<b>{{account.login}}</b>]
			</h2>
			<div class="navbar">
				<ul class="nav navbar-nav">
					<li class="toolbaritem"><a href="#"
						ng-show="isAuthorized(userRoles.admin)"><span
							class="glyphicon glyphicon-home"></span>&#xA0;<span
							translate="global.menu.account.management">Account</span></a></li>
					<li class="toolbaritem"><a href="#/settings"><span
							class="glyphicon glyphicon-wrench"></span>&#xA0;<span
							translate="global.menu.account.settings">Settings</span></a></li>
					<li class="toolbaritem"><a href="#/password"><span
							class="glyphicon glyphicon-lock"></span>&#xA0;<span
							translate="global.menu.account.password"> Password</span></a></li>
					<li class="toolbaritem"><a href="#/sessions"><span
							class="glyphicon glyphicon-cloud"></span>&#xA0;<span
							translate="global.menu.account.sessions">Sessions</span></a></li>
					<li class="toolbaritem"><a href="#/register"
						ng-show="isAuthorized(userRoles.admin)"><span
							class="glyphicon glyphicon-plus"></span>&#xA0;<span
							translate="global.menu.account.register">Register</span></a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 col-md-12">

			<div class="alert alert-success" ng-show="success"
				translate="sessions.messages.success">
				<strong>Session invalidated!</strong>
			</div>
			<div class="alert alert-danger" ng-show="error"
				translate="sessions.messages.error">
				<strong>An error has occured!</strong> The session could not be
				invalidated.
			</div>

			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr>
							<th translate="sessions.table.ipaddress">IP Address</th>
							<th translate="sessions.table.useragent">User agent</th>
							<th translate="sessions.table.date">Date</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="session in sessions">
							<td>{{session.ipAddress}}</td>
							<td>{{session.userAgent}}</td>
							<td>{{session.formattedTokenDate}}</td>
							<td>
								<button type="submit" class="btn btn-primary"
									ng-click="invalidate(session.series)"
									translate="sessions.table.button">Invalidate</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
