<div>
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<ol class="breadcrumb">
				<li><a href="#/tour">Tour</a></li>
				<li><a href="#/tour/schedule">Tour Schedule</a></li>
				<li class="active">Tour Booking</li>
			</ol>
			<h1>
				Tour Booking Details <small>{{tourSchedule.tour.name }}</small>
			</h1>
			<h5>Departure: {{tourSchedule.departureDate}}&#xA0;&#xA0;
				Return: {{tourSchedule.returnDate}}</h5>
			<h5></h5>
			<h5>There are {{bookings.length}} bookings</h5>
			<div class="navbar">
				<form class="navbar-form navbar-right">
					<div class="form-group">
						<label class="navbarText col-sm-2">Filter:</label>
						<div class="col-sm-10">
							<input type="text" data-ng-model="searchText"
								data-ng-change="searchTextChanged();"
								class="novalidate form-control" />
						</div>
					</div>
				</form>
			</div>
			<div class="alert alert-success" data-ng-show="status">
				&nbsp;&nbsp;{{status}}
			</div>

			<div class="alert alert-danger" data-ng-show="error">
				&nbsp;&nbsp;Error:{{ error }}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="table-responsive">
				<table class="table table-hover"
					data-ng-hide="bookings.length == 0">
					<thead>
						<tr>
							<th>ID</th>
							<th>Full Name<a href=""
								data-ng-click="predicate = 'booking.customer.firstName';  reverse=!reverse">
									<span class="glyphicon glyphicon-sort"></span>
							</a></th>
							<th>Birthday</th>
							<th>Email</th>
							<th>Phone</th>
							<th>Nationality</th>
							<th>Booking Date<a href=""
								data-ng-click="predicate = 'booking.createdDate';  reverse=!reverse">
									<span class="glyphicon glyphicon-sort"></span>
							</a></th>
							<th>Payment</th>
							<th>Amount</th>
							<th>Status</th>
						</tr>
					</thead>
					<tbody class="animated fadeInUp">
						<tr
							data-dir-paginate="booking in bookings | filter: searchText | itemsPerPage: 25 | orderBy:'booking.createdDate':true | orderBy:predicate:reverse">
							<td>{{booking.id}}</td>
							<td>{{booking.booking.customer.firstName +" "+
								booking.booking.customer.lastName}} <a
								href="#/customer/booking/{{booking.booking.customer.id}}"><span
									class="glyphicon glyphicon-eye-open"></span></a>
							</td>
							<td>{{booking.booking.customer.birthday | date:'dd-MMM-yyyy'}}</td>
							<td>{{booking.booking.customer.email}}</td>
							<td>{{booking.booking.customer.contactNo}}</td>
							<td>{{booking.booking.customer.nationality}}</td>
							<td>{{booking.booking.createdDate | date:'dd-MMM-yyyy'}}</td>
							<td>{{booking.booking.paymentMethod}}</td>
							<td>{{booking.booking.amount}} $</td>
							<td data-ng-if="booking.booking.status == 1" class="success">Approved</td>
							<td data-ng-if="booking.booking.status == 2" class="warning">Pending</td>
							<td data-ng-if="booking.booking.status == 3" class="danger">Refund</td>
							<td data-ng-if="booking.booking.status == 4" class="danger">Cancel</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div data-ng-show="bookings.length == 0">
			<div class="col-md-12 text-center">
				<h4>No Tour Bookings Found</h4>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<dir-pagination-controls boundary-links="true"
				on-page-change="pageChangeHandler(newPageNumber)"></dir-pagination-controls>
		</div>
	</div>
</div>